<ion-app>
    <ion-header translucent>
        <ion-toolbar color="primary">
            <ion-title> Coffe Ordering App</ion-title>
        </ion-toolbar>
    </ion-header>,
    <ion-content fullscreen>

        <ion-card>
            <img src="/assets/images/gala-coffee-offering-1.jpg" />

            <ion-card-header>
                <ion-card-title>Coffee Time!!!</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                It’s amazing how the world begins to change through the eyes of a cup of coffee.
            </ion-card-content>
        </ion-card>
        <br>
        <br>
        <ion-button expand="full" color="primary" (click)="Menu()">View Menu</ion-button>
    </ion-content>
</ion-app>